.app {
  background: #fafafa;
}
.app__header {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
}
.app__headerImage {
  flex: 1;
}
.app__headerImage a {
  text-decoration: none;
  color: #444;
}
.app__signup {
  display: flex;
  flex-direction: column;
}

.alert__signin {
  text-align: center;
  color: #444;
  margin: 10px;
  text-transform: capitalize;
}
.app__posts {
  padding: 20px;
}
